body {
background-color: #efdcad7b;
}

h1 {
   color: #ffc164;
  font-size: 80px;
  font-family: "Gorditas", cursive;
}
 h2 {
  color: #6d3b34;
  font-family: "Anek Tamil", sans-serif;
}

p {
  color: #6d3b34;
  font-size: 22px;
  font-family: "Anek Tamil", sans-serif;
  text-align: center;
}
  ul {
    list-style-type: none;
  }

ul,
ol {
  font-family: "Anek Tamil", sans-serif;
  font-size: 18px;
}
.row {
  margin-top: 50px;
}
p.tip {
  font-family: "Anek Tamil", sans-serif;
  font-size: 18px;
}
.navbar {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #efe7d0;
  }
 a {
  text-decoration: none;
 }

footer {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 10px;
  font-family: "PT Mono", monospace;
  font-size: 18px;
}