body {
background-color: #efdcad7b;
}

h1 {
   color: #cf8d2bda;
  font-size: 100px;
  font-weight: 700;
  font-family: 'Dancing Script', cursive;
}
 h2 {
  color: #6d3b34;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  font-weight: 700;
}

p {
  color: #6d3b34;
  font-size: 22px;
  font-family: "Anek Tamil", sans-serif;
  text-align: center;
}
  ul {
    list-style-type: none;
  }

ul,
ol {
  font-family: "Anek Tamil", sans-serif;
  font-size: 18px;
}
.row {
  margin-top: 50px;
}
p.tip {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  font-weight: 600;
  
}
.navbar {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #efe7d0;
  }
 a {
  text-decoration: none;
 }
.navbar-toggler {
  color:#FFC164;
}

.nav-link {
  color:#6d3b34;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

footer {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 10px;
  font-family: "PT Mono", monospace;
  font-size: 18px;
}
.carousel-item img {
  width: 50% !important;
  height: 60%;
  margin: 0 auto;
}
.carousel-caption {
  max-width: 450px;
  display: block;
  margin: 0 auto;
    }
.caption {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  font-weight: 700;
}


@media (max-width: 576px){
  h1 {
    font-size: 40px;
      }
.caption {
  font-size: 15px;
  margin: 0 auto;
font-weight: 700;
  }
}
